<!--
# Night Out event planning application
# Hungover Software
# University of Nebraska Omaha
# CSCI-4830-860 SU17
# Signup view (createaccount/new.html.erb)
# 
# Authors: Nathan Lyon,  
!-->
<div class="container">
    <h1 class="center">Create Account</h1>
    
    <div class="row">
        <% if @user.errors.any? %>
	        <ul class="Signup_Errors">
		        <% for message_error in @user.errors.full_messages %>
			        <li>* <%= message_error %></li>
	  	        <% end %>
	        </ul>
        <% end %>
        
        <%= form_for(:user, :url => {:controller => 'create_account', :action => 'create'}, :html => {:class => 'col s12'}) do |f| %>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.email_field :email, :class => 'validate' %>
                    <label for="user_email" data-error="Invalid Email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password, :class => 'validate' %>
                  <label for="user_password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password_confirmation, :class => 'validate' %>
                  <label for="password-confirm">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :preferred_name, :class => 'validate' %>
                  <label for="user_preferred_name">Preferred Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <%= f.telephone_field :phone, :class => 'validate' %>
                  <label for="user_phone_number">Phone</label>
                </div>
            </div>
            <div class="row">
                <%= button_tag(type: 'submit', class: "waves-effect waves-light btn col s12 blue-grey lighten-1") do %>
                    Signup
                <% end %>
            </div>
        <% end %>

    </div>
</div>
        

